.header {
  position: sticky;
  top: 0;
  background-color: var(--color-neutral-white);
  border-bottom: 1px solid #e0e0e0;
  z-index: var(--z-sticky);
  box-shadow: var(--shadow-sm);
}

.container {
  max-width: 1200px;
  height: 65px;
  margin: 0 auto;
  padding: var(--spacing-lg) var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: var(--spacing-xl);
  list-style: none;
}

.navLink {
  font-size: var(--font-size-sm);
  color: var(--color-neutral-dark);
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: var(--color-primary-blue);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 22px;
  }
}
